<div id="AddTask" class="Modal">
	<div class="wrapper Popup">
		<div id="AddScribble"></div>
		<footer class="buttons">
			<ul class="Toolbar">
				<!--<li><button class="Icon undo" data-onClick="undo"></button></li>-->
				<!--<li><button class="Icon redo" data-onClick="redo"></button></li>-->
				<li><button class="Icon star off" data-onClick="star"></button></li>
				<li><button class="Icon priority" data-priority="0" data-onClick="priority">!</button>
					<section class="PriorityChooser Popup"></section>
				</li>
				<li><button class="Icon add" data-onClick="add"></button></li>
				<li><button class="Icon addMulti" data-onClick="addAnother"></button></li>
				<li><button class="Icon clear" data-onClick="cancel"></button></li>
		</footer>
	</div>
</div>
