<div id="DebugMenu" class="Modal">
	<div class="wrapper Popup">
		<ul class="Toolbar">
			<li><button class="Text" data-action="oldTasks">Tasks</button></li>
			<li><button class="Text" data-action="updateCounts">Update Counts</button></li>
			<li><button class="Text" data-action="generateData">Gen Data</button></li>
			<li><button class="Text" data-action="resetProjectKeys">Reset Project Keys</button></li>
			<li><button class="Text" data-action="perfTest">Perf Test</button></li>
			<li><button class="Text" data-action="backup">Backup</button></li>
			<li><button class="Text" data-action="restore">Restore</button></li>
			<li><button class="Text" data-action="close">Close</button></li>
		</ul>
		<div class="backup">
			<textarea></textarea>
		</div>
		<div class="restore">
			<button data-action="restoreNow">Restore</button>
			<textarea></textarea>
		</div>
	</div>
</div>
