<!DOCTYPE HTML>
<html>
	<head>
		<title>ScribbleTask</title>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, user-scalable = no, maximum-scale = 1.0">

		<link rel="stylesheet" type="text/css" href="ui/stylesheets/common.css"/>
		<link rel="stylesheet" type="text/css" href="ui/stylesheets/skins/paper.css"/>
		{% if remote %}
		<script src="http://{{ remote }}:8080/target/target-script.js"></script>
		{% endif %}
	</head>
	<body>
		<div id="Wrapper" class="Wrapper"><div id="Wrapper2" class="Wrapper">
			{% include "project_list.html" %}	
			{% include "search_results.html" %}	
			{% include "project.html" %}	
			{% include "task_list.html" %}	
			{% include "add_task.html" %}	
			{% include "debug_menu.html" %}	
			{% include "task_menu.html" %}
		</div></div>
		{% include "priority_chooser.html" %}	
		
		{% if phonegap %}
		<script src="phonegap.js"></script>
		{% for file in phonegap_plugin_files %}
		<script src="{{ ui_path }}/{{ file }}"></script>
		{% endfor %}
		{% endif %}
		{% for file in appui_files %}
		<script src="{{ appui_path }}/{{ file }}"></script>
		{% endfor %}
		{% for file in ui_files %}
		<script src="{{ ui_path }}/{{ file }}"></script>
		{% endfor %}
		<script>
			var params = parseQueryString();
            var app = new ScribbleTasksApp();
			if (params.mobile)
				app.browser.isMobile = true;
		</script>
	</body>
</html>
