<div id="ProjectList" class="Container">
	<header>
		<div class="title">Projects</div>
		<ul class="Toolbar">
			<!--<li><button class="Icon clear" data-action="clear"></button></li>-->
			<!--<li><button class="Icon incomplete current" data-action="filterAll"></button></li>-->
			<!--<li><button class="Icon complete" data-action="filterComplete"></button></li>-->
			<li class="DebugOnly"><button class="Icon menu" data-action="debug"></button></li>
			<li><button class="Icon search" data-action="search"></button></li>
			<li><button class="Icon star hasCount" data-action="searchStarred"><span data-action="searchStarred">0</span></button></li>
			<li><button class="Icon priority" data-priority="2" data-action="searchHighPriority">!</button></li>
			<li><button class="Icon addFolder" data-action="add"></button></li>
		</ul>
	</header>
	<div class="ProjectList">	
		<div class="Loading">Getting Projects</div>
		<ul></ul>
		<script type="text/html" id="jstProjectListView">
			{! for (var i = 0, c = projects.length; i < c; i++) { var project = projects[i]; !}
				<li>
					<div class="name" data-key="{!= project.key !}" data-index="{!= i !}" data-action="project">{!= project.name || "Project" !}</div>
					<div class="count">{!= project.starCount !}</div>
					<div class="sep">/</div>
					<div class="count">{!= project.incompleteCount !}</div>
					<button data-index="{!= i !}" class="Icon trash" data-action="delete"></button>
				</li>
			{! } !}
			{! if (projects.length == 0) { !}
				<li class="Help">You have no projects</li>
				<li class="Help"><button class="Icon addFolder" data-action="add"></button> Creates a new Project</li>
				<li class="Help"><button class="Icon search" data-action="search"></button> Searches your tasks</li>
				<li class="Help"><button class="Icon star" data-action="searchStarred"></button> Shows all of your starred tasks</li>
				<li class="Help"><button class="Icon priority" data-priority="2" data-action="searchHighPriority">!</button> Shows your high priority tasks</li>
			{! } !}
		</script>
	</div>
	<footer>
		<ul class="Toolbar">
			<li class="DebugOnly"><button class="Icon menu" data-action="debug"></button></li>
			<li><button class="Icon search" data-action="search"></button></li>
			<li><button class="Icon star hasCount" data-action="searchStarred"><span data-action="searchStarred">0</span></button></li>
			<li><button class="Icon priority" data-priority="2" data-action="searchHighPriority">!</button></li>
			<!--<li><button class="Icon clear" data-action="clear"></button></li>-->
			<!--<li><button class="Icon incomplete current" data-action="filterAll"></button></li>-->
			<!--<li><button class="Icon complete" data-action="filterComplete"></button></li>-->
			<!--<li><button class="Icon add" data-action="add"></button></li>-->
		</ul>
		</footer>
	<div id="SearchPopup" class="Modal">
		<div class="wrapper Popup">
			<header><div class="title">Search</div><button class="Icon clear" data-action="searchClose"></button></header>
			<ul>
				<!--<li><button class="Text" data-action="searchStarred">Starred</button></li>-->
				<!--<li><button class="Text" data-action="searchHighPriority">High Priority</button></li>-->
				<li><button class="Text" data-action="searchMediumPriority">Medium Priority</button></li>
				<li><button class="Text" data-action="searchIncomplete">Incomplete Tasks</button></li>
				<li><button class="Text" data-action="searchOldTasks">Old Tasks</button></li>
				<li class="DebugOnly"><button class="Text" data-action="searchNoProject">No Project</button></li>
			</ul>
		</div>
	</div>
</div>
