<div id="Project" class="Container Project">
	<header>
		<button class="Icon back" data-onClick="back"></button><input class="title" data-type="title" data-onClick="editTitle"/>
		<ul class="Toolbar">
			<li><button class="Icon top" data-onClick="scrollToTop"></button></li>
			<li><button class="Icon incomplete current" data-onClick="filterAll"></button></li>
			<li><button class="Icon star" data-onClick="filterStarred"></button></li>
			<li><button class="Icon complete" data-onClick="filterComplete"></button></li>
			<li><button class="Icon add" data-onClick="add"></button></li>
		</ul>
	</header>
	<div class="TaskList">	
		<canvas id="tmpCanvas"></canvas>
		<ul><li class="loading">Getting Tasks</li></ul>
	</div>
	<footer>
		<ul class="Toolbar">
			<li><button class="Icon top" data-onClick="scrollToTop"></button></li>
			<li><button class="Icon incomplete hasCount current" data-onClick="filterAll"><span data-onClick="filterAll"></span></button></li>
			<li><button class="Icon star hasCount" data-onClick="filterStarred"><span data-onClick="filterStarred"></span></button></li>
			<li><button class="Icon complete" data-onClick="filterComplete"></button></li>
		</ul>
	</footer>
</div>
<script type="text/html" id="jstProjectView">
	{! for (var i = 0, c = tasks.length; i < c; i++) { var task = tasks[i]; !}
	<li class="taskItem" data-key="{!= task.key !}" data-index="{!= i !}">
		{!= template("jstTaskView", { index: i, task: task }) !}
	</li>
	{! } !}	
	{! if (hasMore) { !}
	<li class="viewMore"><button data-onClick="viewMore" class="Text">View More</button></li>
	{! } !}
</script>
<script type="text/html" id="jstTaskView">
	<div class="buttons">
		<input type="checkbox" data-onClick="complete" {!= (task.isComplete)?"checked":"" !}/>
		<button data-index="{!= index !}" class="Icon star {!= (!task.star)?"off":"" !}" data-onClick="star"></button>
		<button class="Icon priority" data-priority="{!= task.priority !}" data-onClick="priority">!</button>
		<section class="PriorityChooser Popup">
			{!= template("jstPriorityChooser", { key: index }) !}
		</section>
	</div>
	{! if (task.name) { !}
	<div class="task" data-onClick="task">
		{!= task.name !}
	</div>
	{! } else { !}
	<div id="Scribble_{!= index !}" class="task scribble">
		<canvas></canvas>
	</div>
	{! } !}
	<menu>
		<li><button class="Icon edit" data-onClick="task"></button></li>
		<li><button class="Icon menu" data-index="{!= index !}" data-onClick="menu"></button></li>
	</menu>
	<div class="complete {!= (task.isComplete)?"c":"" !}"></div>
</script>
