<div id="Project" class="Container Project">
	<header>
		<button class="Icon back" data-action="back"></button><input class="title" data-type="title" data-action="editTitle" placeholder="Tap to Edit Name" maxlength="15" />
		<ul class="Toolbar">
			<li><button class="Icon incomplete hasCount current" data-action="filterAll"><span data-action="filterAll"></span></button></li>
			<li><button class="Icon star hasCount" data-action="filterStarred"><span data-action="filterStarred"></span></button></li>
			<li><button class="Icon complete" data-action="filterComplete"></button></li>
			<li><button class="Icon add" data-action="add"></button></li>
		</ul>
	</header>
	<div class="TaskList">	
		<div class="Loading">Getting Tasks</div>
		<ul></ul>
	</div>
	<footer>
		<ul class="Toolbar">
			<li><button class="Icon incomplete hasCount current" data-action="filterAll"><span data-action="filterAll"></span></button></li>
			<li><button class="Icon star hasCount" data-action="filterStarred"><span data-action="filterStarred"></span></button></li>
			<li><button class="Icon complete" data-action="filterComplete"></button></li>
		</ul>
	</footer>
</div>


