<div id="Project" class="Container Project">
	<header>
		<button class="Icon back" data-onClick="back"></button><input class="title" data-type="title" data-onClick="editTitle"/>
		<ul class="Toolbar">
			<li><button class="Icon top" data-onClick="scrollToTop"></button></li>
			<li><button class="Icon incomplete current" data-onClick="filterAll"></button></li>
			<li><button class="Icon star" data-onClick="filterStarred"></button></li>
			<li><button class="Icon complete" data-onClick="filterComplete"></button></li>
			<li><button class="Icon add" data-onClick="add"></button></li>
		</ul>
	</header>
	<div class="TaskList">	
		<div class="loading">Getting Tasks</div>
		<ul></ul>
	</div>
	<footer>
		<ul class="Toolbar">
			<li><button class="Icon top" data-onClick="scrollToTop"></button></li>
			<li><button class="Icon incomplete hasCount current" data-onClick="filterAll"><span data-onClick="filterAll"></span></button></li>
			<li><button class="Icon star hasCount" data-onClick="filterStarred"><span data-onClick="filterStarred"></span></button></li>
			<li><button class="Icon complete" data-onClick="filterComplete"></button></li>
		</ul>
	</footer>
</div>


