<script type="text/html" id="jstProjectView">
	{! for (var i = 0, c = tasks.length; i < c; i++) { var task = tasks[i]; !}
	<li class="taskItem" data-key="{!= task.key !}" data-index="{!= i !}">
		{!= template("jstTaskView", { index: i, task: task, projects: projects }) !}
	</li>
	{! } !}	
	{! if (hasMore) { !}
	<li class="viewMore"><button data-action="viewMore" class="Text">View More</button></li>
	{! } !}
	{! if (tasks.length == 0) { !}
		<li class="Help">There are no tasks in this list</li>
		<li class="Help"><button class="Icon add" data-action="add"></button> Creates a new task</li>
		<li class="Help">Swipe from left to right to complete</li>
		<li class="Help"><button class="Icon back" data-action="back"></button> Goes back to your project list</li>
		<li class="Help"><button class="Icon incomplete" data-action="filterAll"></button> Shows your incomplete tasks</li>
		<li class="Help"><button class="Icon star" data-action="filterStarred"></button> Shows your starred tasks</li>
		<li class="Help"><button class="Icon complete" data-action="filterComplete"></button> Shows your completed tasks</li>
	{! } !}
</script>
<script type="text/html" id="jstTaskView">
	<menu class="buttons">
		<li><button data-index="{!= index !}" class="Icon star {!= (!task.star)?"off":"" !}" data-action="star"></button></li>
		<li><button class="Icon priority" data-priority="{!= task.priority !}" data-action="priority">!</button>
			<section class="PriorityChooser Popup">
				{!= template("jstPriorityChooser", { key: index }) !}
			</section>
		</li>
	</menu>
		<input type="checkbox" data-action="complete" {!= (task.isComplete)?"checked":"" !}/>
	{! if (task.name) { !}
	<div class="task" data-action="task">
		{!= task.name !}
	</div>
	{! } else { !}
	<div id="Scribble_{!= task.key !}" class="task scribble">
		<canvas></canvas>
	</div>
	{! } !}

	<menu>
		{! if (projects) { !}
			<li class="projectName">{!= projects[task.projectKey].name !}</li>
		{! } !}
		<li><button class="Icon edit" data-action="task"></button></li>
		<li><button class="Icon menu" data-index="{!= index !}" data-action="menu"></button></li>
	</menu>
	<div class="completedTask {!= (task.isComplete)?"c":"" !}"></div>
</script>
