<div id="TaskMenu"></div>
<script type="text/html" id="jstTaskMenu">
	<div class="Modal">
		<section class="wrapper Popup">
			<header>
				<div class="title">Task Menu:</div>
				<button class="Icon clear" data-action="close"></button>
			</header>
			<menu>
                <li><p>Move to Project:</p>
					<select class="project">
						{! for (var i = 0, c = projects.length; i < c; i++) { var proj = projects[i]; !}
							<option value="{!= i !}" {!= (proj.key == task.projectKey)?"selected":"" !}>{!= proj.name !}</option>
						{! } !}
					</select>
					</select>
				</li>
				<li class="delete"><button class="Text" data-action="delete">Delete Task</button></li>
			</menu>
		</section>
	</div>
</script>
