[submodule "ext/appui"]
	path = ext/appui
	url = git://github.com/jgallen23/AppUI.git
[submodule "ext/qunit"]
	path = ext/qunit
	url = http://github.com/jquery/qunit.git
[submodule "ext/phonegap-iphone"]
	path = ext/phonegap-iphone
	url = git://github.com/jgallen23/phonegap-iphone.git
[submodule "ext/phonegap-plugins"]
	path = ext/phonegap-plugins
	url = git://github.com/jgallen23/PhoneGap-Plugins.git
