ul { margin: 0; padding: 0; }
body {	-webkit-user-select:none; -webkit-text-size-adjust:none;font-size: 14px; margin: 0; padding: 0; background: #777; height: 100%; }
#Scribble { width: 100%; height: 100%; background: #f0f0f0; }

#AddTask { z-index: 100; position: absolute; background: rgba(0,0,0,0.8); top:0; left: 0; height: 100%; width: 100%; display: none; -webkit-box-pack: center; -webkit-box-orient: horizontal;  }
	#AddTask .wrapper { display: -webkit-box; -webkit-box-pack: center; -webkit-box-orient: vertical; }
	#AddTask .Paper { padding: 10px; } 
	#AddTask .buttons { float: right; } 
	#AddScribble {  border: 1px solid #ccc; }
	#AddTask input { display: none; } 

button { font-size: 13px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#ADADAD)); border: 0; -webkit-border-radius: 5px; height: 25px; -webkit-box-shadow: 3px 3px 3px #333; }
	button.Icon { background: 0; -webkit-box-shadow: none; -webkit-border-radius: 0; } 
	button:active { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ADADAD), to(#FFFFFF)) }

.Header {  width: 100%; opacity: 0.8;  height: 45px; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-align: center; background: #000; color: #fff; -webkit-box-shadow: 5px 0px 5px #000; }
	.Header .title { font-family: 'MarkerFelt-Thin'; letter-spacing: 3px; -webkit-box-flex: 1;font-size: 25px; text-shadow: 2px 2px 2px #000; padding-left: 20px; } 
	.Header ul { list-style: none; display: -webkit-box; -webkit-box-orient: horizontal; }
		.Header ul li { padding: 0 15px; } 
			.Header ul li .Icon { background-size: 35px; height: 35px; width: 35px; } 
			.Header ul li .starred { background: url(../images/icons/star-white.png) no-repeat; }
			.Header ul li .incomplete { background: url(../images/icons/folder-white.png) no-repeat; }
			.Header ul li .complete { background: url(../images/icons/check-white.png) no-repeat; }
			.Header ul li .add { background: url(../images/icons/add-white.png) no-repeat; }
			.Header ul li .clear { background: url(../images/icons/delete-white.png) no-repeat; }
			.Header .starred, .Header .incomplete, .Header .complete { opacity: .5 }
			.Header .current { opacity: 1 }
			.Header button { -webkit-transition: opacity .5s ease-in-out; }

.Paper { background: #fff; -webkit-border-radius: 10px; -webkit-box-shadow: 2px 2px 2px #333; }
	.Paper .Paper { margin: 0 3px 2px 0; } 

.TaskList { overflow-y: hidden; margin: 0px 10px 10px 10px; }
.TaskList ul { list-style: none; margin: 0;}
	.TaskList li { display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-align: center; border-bottom: 1px solid #ccc;} 
		.TaskList li:last-child { border-bottom: 0; } 
	.TaskList button.Icon { height: 35px; width: 35px; background-size: 35px; }
	.TaskList .star { margin: 0 20px; background: url(../images/icons/star-on.png) no-repeat; -webkit-transition: opacity .5s ease-in-out; opacity: .3;}
	.TaskList .reorder { background: url(../images/icons/reorder.png) no-repeat; margin-right: 20px;  }
	.TaskList .name { line-height: 50px }
	.TaskList .task { -webkit-box-flex: 1; }
    .TaskList .sorting { background: #ccc; }

#Project { display: -webkit-box; -webkit-box-orient: vertical; height: 100%; }
	#Project .TaskList { -webkit-box-flex: 1; }
