ul { margin: 0; padding: 0; }
body { -webkit-user-select:none; -webkit-text-size-adjust:none;font-size: 14px; margin: 0; padding: 0;  height: 100%; background: url(../images/paper2-bg.png)}
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }

button { font-size: 13px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#ADADAD)); border: 0; -webkit-border-radius: 5px; height: 25px; -webkit-box-shadow: 3px 3px 3px #333; }
	button.Icon { background: 0; -webkit-box-shadow: none; -webkit-border-radius: 0; } 
	button:active { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ADADAD), to(#FFFFFF)) }

header, footer {  width: 100%; opacity: 0.8;  height: 45px; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-align: center; background: #000; color: #fff; -webkit-box-shadow: 5px 0px 5px #000; }
	header .title {  -webkit-box-flex: 1; display: -webkit-box; -webkit-box-orient: horizontal; padding-left: 20px; } 
		header .title, header .title input { font-family: 'MarkerFelt-Thin'; letter-spacing: 3px; background: transparent; border: 0; font-size: 25px; color: #fff; }
		header .title input { -webkit-box-flex: 1; } 

footer.buttons button { margin-top: 10px; }

.Container footer { display: none; }

#AddTask { z-index: 100; position: absolute; background: rgba(0,0,0,0.8); top:0; left: 0; height: 100%; width: 100%; display: none; -webkit-box-pack: center; -webkit-box-orient: horizontal; -webkit-box-align: center; background: green;}
	#AddTask .wrapper { display: -webkit-box; -webkit-box-orient: vertical; width: 80%; height: 300px;}
	#AddTask .Paper { padding: 10px; } 
	#AddScribble {  border: 1px solid #ccc; -webkit-box-flex: 1 }


.Toolbar { list-style: none; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-align: stretch; -webkit-box-pack: justify }
	.Toolbar li { padding: 0 15px; } 
	.Toolbar li .Icon { background-size: 25px; background-repeat: no-repeat; background-position: center center; height: 35px; width: 35px; } 
		.Toolbar li .Icon:active { background-color: #ccc; -webkit-border-radius: 5px; opacity: 1.0 } 
	.Toolbar li .starred { background-image: url(../images/icons/star-white.png) ; }
	.Toolbar li .incomplete { background-image: url(../images/icons/folder-white.png) ; }
	.Toolbar li .complete { background-image: url(../images/icons/check-white.png) ; }
	.Toolbar li .add { background-image: url(../images/icons/add-white.png) ; }
	.Toolbar li .clear { background-image: url(../images/icons/delete-white.png) ; }
	.Toolbar .starred, .Toolbar .incomplete, .Toolbar .complete { opacity: .5 }
	.Toolbar .current { opacity: 1 }
	.Toolbar button { -webkit-transition: opacity .5s ease-in-out; }

.Paper { background: #fff; -webkit-border-radius: 10px; -webkit-box-shadow: 2px 2px 2px #333; }
	.Paper .Paper { margin: 0 3px 2px 0; } 

.ProjectList {}
	.ProjectList li { font-size: 25px; font-family: 'MarkerFelt-Thin'; padding: 15px 5px; } 
		.ProjectList li:active { background: #ccc; }  

.TaskList { margin: 0px; position: relative; z-index: 1; overflow-y: scroll }
	body.Mobile .TaskList { overflow-y: hidden; }
.TaskList ul { list-style: none; margin: 0;}
	.TaskList li { display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-align: center; -webkit-box-shadow: 0 3px 3px #ccc; padding: 5px 10px; -webkit-transition: opacity 1s ease-in-out; position: relative; height: 150px} 
	.TaskList button.Icon { height: 35px; width: 35px; background-size: 35px; }
	.TaskList .buttons { margin-left: 10px; }
	.TaskList .star { background: url(../images/icons/star-on.png) no-repeat; -webkit-transition: opacity .5s ease-in-out; opacity: .3;}
	.TaskList .reorder { background: url(../images/icons/reorder.png) no-repeat; margin-right: 20px;  }
	.TaskList .name { line-height: 50px }
	.TaskList .task { -webkit-box-flex: 1; }
    .TaskList .sorting { background: #ccc; }
	body.Mobile .TaskList input { display: none; }
	.TaskList .complete { height: 4px; opacity: 0.8; -webkit-border-radius: 2px; background: #ff0000; position: absolute; top: 80px; width: 0; left: 100px; -webkit-transition: width .5s ease-in-out;}
		.TaskList .complete.c { width: 500px; } 

#Project { display: none; -webkit-box-orient: vertical; height: 100%; }
	#Project .TaskList { -webkit-box-flex: 1; }

.Container { height: 100%; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-align: stretch; }
	.Container > div { -webkit-box-flex: 1; }

/* Desktop */
@media only screen and (min-width: 481px) {
	#AddTask footer { background: 0; -webkit-box-shadow: none; display: block; }
}

/* iPhone */
@media only screen and (max-width: 480px) {
	.Container footer { display: block; }
	header ul.Toolbar { display: none; }

	#AddTask .wrapper { height: 100%; width: 100% }
	#AddTask .Paper { -webkit-border-radius: 0; padding: 0; margin: 0}
	#AddScribble { border: 0; }

	.TaskList li { height: 175px; }
	.TaskList .buttons { margin-left: 2px; }
	.TaskList .reorder { margin-right: 2px; }
	.TaskList .complete { left: 60px; }
	.TaskList li .buttons { display: -webkit-box; -webkit-box-orient: vertical; width: 35px; -webkit-box-align: center; padding-top: 50px; }
		.TaskList li .buttons .star { margin-bottom: 10px; } 
}
