body { /*background: url(../../images/skins/paper/bg.jpg);*/ background:#484848 }
#Wrapper { background: #fff; margin: 15px 15px 12px 15px; padding: 0 2px 3px 0; }
#Wrapper2 { background: url(../../images/skins/paper/red-line.png) top 45px repeat-y; }
.Wrapper { -webkit-box-shadow: 2px 2px 7px #000; }
header {  -webkit-box-shadow: 0 0 3px #000; }
footer { padding-left: 5px; -webkit-box-shadow: 0 0 3px #000; }

button.Icon:active { background-color: #ccc; -webkit-border-radius: 5px; opacity: 1.0 } 

#ProjectList header { padding-left: 50px; }
#ProjectList li:active .name { color: #6394cb; }
#ProjectList #Projects li { border-bottom: 2px solid #6394cb; padding-left: 60px;}
#ProjectList #Projects li .count, 
#ProjectList #Projects li .sep { font-size: 14px; }


#Project header { padding-left: 7px; }
	#Project header .title { padding-left: 20px; } 
	#Project .TaskList li { border-bottom: 2px solid #6394cb; padding: 0 5px; }
	#Project .PriorityChooser { margin-top: -25px; }
	#Project .TaskList .complete { background-color: #bc5768; }

.PriorityChooser { -webkit-border-radius: 5px; -webkit-box-shadow: 1px 1px 10px #000; padding: 2px;}
	.PriorityChooser input:first-child { margin-left: 15px; } 
	.PriorityChooser input { margin-top: 5px; }

#AddTask { }
	#AddTask .wrapper { -webkit-box-shadow: 2px 2px 7px #000; }
	#AddTask footer { padding-left: 0px; } 

/* Desktop */
@media only screen and (min-width: 481px) {
}

/* iPhone */
@media only screen and (max-width: 480px) {
	#Wrapper { margin: 3px 3px 0px 3px }

}

